<!doctype html>
<html lang="en">
  <%- include('partials/head') %>

  <body>
    <%- include('./layout/nav') %>

    <main id="main">
      <!-- ======= Breadcrumbs ======= -->
      <section class="breadcrumbs">
        <div class="container">
          <div class="d-flex justify-content-between align-items-center">
            <h2>Testimonials</h2>
            <ol>
              <li><a href="index.html">Home</a></li>
              <li>Testimonials</li>
            </ol>
          </div>
        </div>
      </section>
      <!-- End Breadcrumbs -->

      <!-- ======= Testimonials Section ======= -->
      <section id="testimonials" class="testimonials">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Testimonials</h2>
            <p>Success Stories from Our Members</p>
          </div>
          <div
            class="testimonials-slider swiper"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <div class="row">
            <% for( let i = 0; i < data.testimonies.length; i++ ) { %>
              <div class="col-lg-6">
                <div class="testimonial-item mb-1">
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                     <%= data.testimonies[i].message %>
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                  <img
                  class="testimonial-img"
                    src=<%- data && data.testimonies[i].user.displayPhoto ?
                  "/uploads/images/" + data.testimonies[i].user.displayPhoto :
                  "/static/assets/img/default.jpg" %> alt="<%=
                  data.testimonies[i].user.fullName %> Photo"  />
                  <h3>
                     <%= data.testimonies[i].user.fullName %>
                  </h3>
                  <h4>Member</h4>
                </div>
              </div>
             <% } %>
            </div>
          </div>
             <nav aria-label="...">
                  <ul class="pagination justify-content-center">
                    <li
                      class="page-item <%= !data.pagination.prevPage || data.pagination.currentPage === 1 ? 'disabled': '' %>"
                    >
                      <a
                        class="page-link"
                        href="?page=<%= data.pagination.prevPage || 1 %>"
                        aria-label="Previous"
                      >
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    <% for (let i = 1; i < data.pagination.totalPages + 1; i++)
                    {%>
                    <li
                      class="page-item <%= i === data.pagination.currentPage ? 'active' : '' %>"
                      aria-current="page"
                    >
                      <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                    </li>
                    <% } %>

                    <li class="page-item">
                      <a
                        class="page-link <%= !data.pagination.nextPage || data.pagination.currentPage === data.pagination.totalPages ? 'disabled': '' %>"
                        href="?page=<%= data.pagination.nextPage || data.pagination.totalPages %>"
                        aria-label="Next"
                      >
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  </ul>
                </nav>
          <!-- start -->
          <div class="container why-to-join">
            <div>
              <h3 class="heading-3">Why you should join Grand Health Cycle</h3>
              <ul>
                <li class="why-to-join-item">
                  <i class="bi bi-check-circle"></i>
                  It's here to stay because it doesn't pay you magic money like
                  double your investment in 24hours or become a millionaire
                  overnight type of websites but it pays you for the work you
                  do.
                </li>
                <li class="why-to-join-item">
                  <i class="bi bi-check-circle"></i>
                  You don't need to refer people to make money after joining and
                  purchasing your packages, you can make money selling digital
                  and physical products without referring anyone.
                </li>
                <li class="why-to-join-item">
                  <i class="bi bi-check-circle"></i>
                  It pays you cycle leader passive income i.e the money you earn
                  forever after purchasing 5th cycle or having at least 37
                  referrals in each package.
                </li>
                <li class="why-to-join-item">
                  <i class="bi bi-check-circle"></i>
                  The business is stable and built for longevity.
                </li>
                <li class="why-to-join-item">
                  <i class="bi bi-check-circle"></i>
                  It make you achieve and live your dream and giving you a total
                  financial freedom if your work hard.
                </li>
              </ul>
            </div>
            <div class="btn-box d-flex justify-content-center">
              <a href="#" class="read-more btn btn-primary btn-lg"
                >Join now <i class="bi bi-long-arrow-right"></i
              ></a>
            </div>
          </div>
        
        </div>
      </section>
      <!-- End Testimonials Section -->

    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <%- include('./layout/footer') %>
    <!-- End Footer -->

    <%- include('./partials/scripts') %>
  </body>
</html>
