<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <%- include('../layout/navbar') %> <%- include('../partials/logout') %> <%-
    include('../layout/sidebar') %>

    <main id="main" class="main">
      <%- include('../layout/breadcrumb') %>

      <section class="section profile">
        <div class="row" style="color: #012970">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">My Referrers</h5>

              <div class="table-responsive">
                <!-- Table with stripped rows -->
                <table
                  class="table table-striped table-bordered datatable text-truncate"
                >
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Username</th>
                      <th>Phone</th>
                      <th>Country</th>
                      <th>Joining Date</th>
                      <th>Package Type</th>
                      <th>Current Cycle</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for( let i = 0; i < data.downlines.length; i++ ) { %>

                    <tr>
                      <td><%= data.downlines[i].fullName %></td>
                      <td><%= data.downlines[i].username %></td>
                      <td><%= data.downlines[i].phone %></td>
                      <td><%= data.downlines[i].country%></td>
                      <td>
                        <%= (data.downlines[i].createdAt).toLocaleDateString()%>
                      </td>
                      <td>b</td>
                      <td>
                        <%= "B" + data.downlines[i].bronze.currentCycle + ", G"
                        + data.downlines[i].gold.currentCycle + ", D" +
                        data.downlines[i].diamond.currentCycle %>
                      </td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
                <!-- End Table with stripped rows -->
              </div>
            </div>
            <div class="card-footer">
              <nav aria-label="...">
                <ul class="pagination justify-content-center">
                  <li
                    class="page-item <%= !data.pagination.prevPage || data.pagination.currentPage === 1 ? 'disabled': '' %>"
                  >
                    <a
                      class="page-link"
                      href="?page=<%= data.pagination.prevPage || 1 %>"
                      aria-label="Previous"
                    >
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <% for (let i = 1; i < data.pagination.totalPages + 1; i++)
                  {%>
                  <li
                    class="page-item <%= i === data.pagination.currentPage ? 'active' : '' %>"
                    aria-current="page"
                  >
                    <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                  </li>
                  <% } %>

                  <li class="page-item">
                    <a
                      class="page-link <%= !data.pagination.nextPage || data.pagination.currentPage === data.pagination.totalPages ? 'disabled': '' %>"
                      href="?page=<%= data.pagination.nextPage || data.pagination.totalPages %>"
                      aria-label="Next"
                    >
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- End #main -->
    <%- include('../layout/footer') %> <%- include('../partials/scripts') %>
  </body>
</html>
