<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <%- include('../layout/navbar') %> <%- include('../partials/logout') %> <%-
    include('../layout/sidebar') %>

    <main id="main" class="main">
      <%- include('../layout/breadcrumb') %>

      <section class="section dashboard">
        <div class="row" style="color: #012970">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="card-title">
                  <h3>Select Time Frame</h3>
                </div>

                <div class="dropdown">
                  <a
                    class="btn btn-secondary dropdown-toggle"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <%= data.du == 'today' ? 'Today' : '' %> <%= data.du !=
                    'today' && data.du != 'allTime' ? `This ${data.du}` : '' %>
                    <%= data.du =='allTime' ? 'All Time' : '' %>
                  </a>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="?du=today">Today</a></li>
                    <li>
                      <a class="dropdown-item" href="?du=week"> This Week </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="?du=month">This Month</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="?du=year">This Year</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="?du=allTime">All Time</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Total Amount Paid In ($)</h5>

                <!-- Pie Chart -->
                <div
                  data-bronze="<%= data.bronze %>"
                  data-gold="<%= data.gold %>"
                  data-diamond="<%= data.diamond %>"
                  id="pieChart"
                ></div>

                <h5 class="card-footer">
                  Total : <span>$<%= data.total %></span>
                </h5>

                <!-- End Pie Chart -->
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="card pb-5">
              <div class="card-body">
                <div class="card-title">
                  <h3>Total Amount Paid In</h3>
                </div>
                <div>
                  <h4>Bronze</h4>
                  <p>$<%= data.bronze %></p>
                </div>
                <div>
                  <h4>Gold</h4>
                  <p>$<%= data.gold %></p>
                </div>
                <div>
                  <h4>Diamond</h4>
                  <p>$<%= data.diamond %></p>
                </div>
                <div>
                  <h4>Total</h4>
                  <p>$<%= data.total %></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card">
              <div class="card-body pt-4">
                <div class="table-responsive">
                  <table
                    class="table orders-table table-striped table-bordered table-hover"
                    style="width: 100%"
                  >
                    <thead class="table-dark">
                      <tr>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Ordered Cycle</th>
                        <th>Package</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for( let i = 0; i < data.orders.length; i++ ) { %>
                      <tr>
                        <td><%= data.orders[i].User.fullName %></td>
                        <td><%= data.orders[i].User.username %></td>
                        <td><%= data.orders[i].cycle %></td>
                        <td><%= data.orders[i].package %></td>
                      </tr>
                      <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
              <%- include('../partials/pagination', {urlPrefix:
              `?du=${data.du}`, data}) %>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- End #main -->

    <%- include('../layout/footer') %> <%- include('../partials/scripts') %>
  </body>
</html>
