<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <%- include('../layout/navbar') %> <%- include('../partials/logout') %> <%-
    include('../layout/sidebar') %>

    <main id="main" class="main">
      <%- include('../layout/breadcrumb') %>

      <section class="section profile">
        <div class="row">
          <div class="col-xl-4">
            <div class="card">
              <div
                class="card-body profile-card pt-4 d-flex flex-column align-items-center"
              >
                <img src=<%- data && data.user.displayPhoto ? "/uploads/images"
                + data.user.displayPhoto : "/static/assets/img/default.jpg" %>
                alt="<%= data.user.username %> Photo" class="rounded-circle" />
                <h2><%= data.user.fullName %></h2>
                <h3>Member</h3>
                <div class="social-links mt-2 d-none">
                  <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                  <a href="#" class="facebook"
                    ><i class="bi bi-facebook"></i
                  ></a>
                  <a href="#" class="instagram"
                    ><i class="bi bi-instagram"></i
                  ></a>
                  <a href="#" class="linkedin"
                    ><i class="bi bi-linkedin"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-8">
            <div class="card">
              <div class="card-body pt-3">
                <!-- Bordered Tabs -->
                <ul class="nav nav-tabs nav-tabs-bordered">
                  <li class="nav-item">
                    <button
                      class="nav-link active"
                      data-bs-toggle="tab"
                      data-bs-target="#profile-overview"
                    >
                      Overview
                    </button>
                  </li>

                  <li class="nav-item">
                    <button
                      class="nav-link"
                      data-bs-toggle="tab"
                      data-bs-target="#profile-edit"
                    >
                      Edit Profile
                    </button>
                  </li>
                </ul>
                <div class="tab-content pt-2">
                  <div
                    class="tab-pane fade show active profile-overview text-capitalize"
                    id="profile-overview"
                  >
                    <h5 class="card-title">Profile Details</h5>

                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Full Name</div>
                      <div class="col-lg-9 col-md-8">
                        <%= data.user.fullName %>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Username</div>
                      <div class="col-lg-9 col-md-8">
                        <%= data.user.username %>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Gender</div>
                      <div class="col-lg-9 col-md-8">
                        <%= data.user.gender %>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Country</div>
                      <div class="col-lg-9 col-md-8">
                        <%= data.user.country %>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">City</div>
                      <div class="col-lg-9 col-md-8"><%= data.user.city %></div>
                    </div>

                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Phone</div>
                      <div class="col-lg-9 col-md-8">
                        <%= data.user.phone %>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Email</div>
                      <div class="col-lg-9 col-md-8">
                        <%= data.user.email %>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Account Name</div>
                      <div class="col-lg-9 col-md-8">
                        <%= data.user.accountName %>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Bank Name</div>
                      <div class="col-lg-9 col-md-8">
                        <%= data.user.bankName %>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Account Number</div>
                      <div class="col-lg-9 col-md-8">
                        <%= data.user.accountNumber %>
                      </div>
                    </div>
                  </div>

                  <div
                    class="tab-pane fade profile-edit pt-3"
                    id="profile-edit"
                  >
                    <!-- Profile Edit Form -->
                    <form id="profile-form" novalidate>
                      <div class="row mb-3 form-group">
                        <label
                          for="fullName"
                          class="col-md-4 col-lg-3 col-form-label"
                          >Full Name</label
                        >
                        <div class="col-md-8 col-lg-9">
                          <input
                            name="fullName"
                            type="text"
                            class="form-control"
                            id="fullName"
                            value="<%= data.user.fullName %>"
                            required
                          />
                        </div>
                      </div>

                      <div class="row mb-3 form-group">
                        <label
                          for="username"
                          class="col-md-4 col-lg-3 col-form-label"
                          >Username</label
                        >
                        <div class="col-md-8 col-lg-9">
                          <input
                            name="username"
                            type="text"
                            class="form-control"
                            id="username"
                            value="<%= data.user.username %>"
                            disabled
                          />
                        </div>
                      </div>

                      <div class="row mb-3 form-group">
                        <label
                          for="gender"
                          class="col-md-4 col-lg-3 col-form-label"
                          >Gender</label
                        >
                        <div class="col-md-8 col-lg-9">
                          <select
                            class="form-control"
                            name="gender"
                            id="gender"
                            required
                          >
                            <option
                              value="female"
                              selected='<%= data.user.gender === "" ? true : false %>'
                            >
                              Female
                            </option>
                            <option
                              value="male"
                              selected='<%= data.user.gender === "male" ? true : false %>'
                            >
                              Male
                            </option>
                          </select>
                        </div>
                      </div>

                      <div class="row mb-3 form-group">
                        <label
                          for="Country"
                          class="col-md-4 col-lg-3 col-form-label"
                          >Country</label
                        >
                        <div class="col-md-8 col-lg-9">
                          <input
                            name="country"
                            type="text"
                            class="form-control"
                            id="Country"
                            value="<%=  data.user.country %>"
                            required
                          />
                        </div>
                      </div>

                      <div class="row mb-3 form-group">
                        <label
                          for="City"
                          class="col-md-4 col-lg-3 col-form-label"
                          >City</label
                        >
                        <div class="col-md-8 col-lg-9">
                          <input
                            name="city"
                            type="text"
                            class="form-control"
                            id="City"
                            value="<%= data.user.city %>"
                            required
                          />
                        </div>
                      </div>

                      <div class="row mb-3 form-group">
                        <label
                          for="Phone"
                          class="col-md-4 col-lg-3 col-form-label"
                          >Phone</label
                        >
                        <div class="col-md-8 col-lg-9">
                          <input
                            name="phone"
                            type="text"
                            class="form-control"
                            id="Phone"
                            value="<%= data.user.phone %>"
                            required
                          />
                        </div>
                      </div>

                      <div class="row mb-3 form-group">
                        <label
                          for="Email"
                          class="col-md-4 col-lg-3 col-form-label"
                          >Email</label
                        >
                        <div class="col-md-8 col-lg-9">
                          <input
                            name="email"
                            type="email"
                            class="form-control"
                            id="Email"
                            value="<%= data.user.email %>"
                            required
                          />
                        </div>
                      </div>

                      <div class="row mb-3 form-group">
                        <label
                          for="AccountName"
                          class="col-md-4 col-lg-3 col-form-label"
                          >Account Name</label
                        >
                        <div class="col-md-8 col-lg-9">
                          <input
                            name="accountName"
                            type="text"
                            class="form-control"
                            id="AccountName"
                            value="<%= data.user.accountName %>"
                          />
                        </div>
                      </div>

                      <div class="row mb-3 form-group">
                        <label
                          for="BankName"
                          class="col-md-4 col-lg-3 col-form-label"
                          >Bank Name</label
                        >
                        <div class="col-md-8 col-lg-9">
                          <input
                            name="bankName"
                            type="text"
                            class="form-control"
                            id="BankName"
                            value="<%= data.user.bankName %>"
                          />
                        </div>
                      </div>

                      <div class="row mb-3 form-group">
                        <label
                          for="AccountNumber"
                          class="col-md-4 col-lg-3 col-form-label"
                          >Account Number</label
                        >
                        <div class="col-md-8 col-lg-9">
                          <input
                            name="accountNumber"
                            type="text"
                            class="form-control"
                            id="AccountName"
                            value="<%= data.user.accountNumber %>"
                          />
                        </div>
                      </div>

                      <div class="text-center">
                        <button type="submit" class="btn btn-primary">
                          Save Changes
                        </button>
                      </div>
                    </form>
                    <!-- End Profile Edit Form -->
                  </div>
                </div>
                <!-- End Bordered Tabs -->
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- End #main -->
    <%- include('../layout/footer') %> <%- include('../partials/scripts') %>
  </body>
</html>
