<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <%- include('../layout/navbar') %> <%- include('../partials/logout') %> <%-
    include('../layout/sidebar') %>

    <main id="main" class="main">
      <%- include('../layout/breadcrumb') %>

      <section class="section dashboard">
        <div class="row" style="color: #012970">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <ul class="nav nav-underline">
                  <li class="nav-item">
                    <a
                      class="nav-link <%= data.wallet === 'bronze' ? 'active disabled' : '' %>"
                      aria-current="page"
                      href="?wt=bronze"
                    >
                      Bronze
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link <%= data.wallet === 'gold' ? 'active disabled' : '' %>"
                      aria-current="page"
                      href="?wt=gold"
                    >
                      Gold
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link <%= data.wallet === 'diamond' ? 'active disabled' : '' %>"
                      aria-current="page"
                      href="?wt=diamond"
                    >
                      Diamond
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link <%= data.wallet === 'leaderCycle' ? 'active disabled' : '' %>"
                      aria-current="page"
                      href="?wt=leaderCycle"
                    >
                      Cycle Leader
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link <%= data.wallet === 'salesIncome' ? 'active disabled' : '' %>"
                      aria-current="page"
                      href="?wt=salesIncome"
                    >
                      Sales Income
                    </a>
                  </li>
                </ul>
              </div>
              <div class="card-body pt-4">
                <form action="" method="GET">
                  <div class="input-group mb-3">
                    <input
                      type="text"
                      name="q"
                      class="form-control"
                      placeholder="Search username, fullname, or email"
                      aria-label="Search"
                      value="<%= data.q %>"
                    />
                    <button class="btn btn-outline-secondary" type="submit">
                      <i class="bx bx-search-alt-2"></i>
                    </button>
                  </div>
                </form>
                <div class="table-responsive">
                  <table
                    class="table orders-table table-striped table-hover table-bordered text-truncate"
                    style="width: 100%"
                  >
                    <thead class="table-dark">
                      <tr>
                        <th>Member Name</th>
                        <th>Username</th>
                        <th>Amount</th>
                        <th>Request Date</th>
                        <th>Wallet Balance</th>
                        <th>Approve</th>
                        <th>Reject</th>
                        <th>Withdrawal Record</th>
                        <th>View account.</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for( let i = 0; i < data.requests.length; i++ ) { %>
                      <tr>
                        <td><%= data.requests[i].User.fullName %></td>
                        <td><%= data.requests[i].User.username %></td>
                        <td>
                          <%= (data.requests[i].amount).toLocaleString() %>
                        </td>
                        <td>
                          <%= (data.requests[i].createdAt).toLocaleDateString()
                          %>
                        </td>
                        <td>
                          <%=
                          data.requests[i].User.withdrawalWallet[data.wallet] %>
                        </td>
                        <td>
                          <button
                            type="button"
                            class="btn btn-success btn-sm"
                            data-bs-toggle="modal"
                            data-bs-target="#request-modal-<%= data.requests[i].id %>"
                          >
                            Approve
                          </button>

                          <!-- Modal -->
                          <div
                            class="modal fade"
                            id="request-modal-<%= data.requests[i].id %>"
                            tabindex="-1"
                            aria-labelledby="exampleModalLabel"
                            aria-hidden="true"
                          >
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h1
                                    class="modal-title fs-5"
                                    id="exampleModalLabel"
                                  >
                                    Member Withdrawal Banking Details
                                  </h1>
                                  <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"
                                  ></button>
                                </div>

                                <form class="approveWithdrawalForm">
                                  <input
                                    type="text"
                                    name="id"
                                    value="<%= data.requests[i].id %>"
                                    class="d-none"
                                  />

                                  <div class="modal-body">
                                    <div class="mb-3">
                                      <label class="form-label"
                                        >Bank Name</label
                                      >
                                      <input
                                        class="form-control"
                                        value="<%= data.requests[i].User.bankName %>"
                                      />
                                    </div>
                                    <div class="mb-3">
                                      <label class="form-label"
                                        >Account Name</label
                                      >
                                      <input
                                        class="form-control"
                                        value="<%= data.requests[i].User.accountName %>"
                                      />
                                    </div>
                                    <div class="mb-3">
                                      <label class="form-label"
                                        >Account Number</label
                                      >
                                      <input
                                        class="form-control"
                                        value="<%= data.requests[i].User.accountNumber %>"
                                      />
                                    </div>
                                    <div class="form-check">
                                      <input
                                        class="form-check-input adminPayment"
                                        type="checkbox"
                                        name="checked"
                                        id="adminPayment"
                                      />
                                      <label
                                        class="form-check-label"
                                        for="adminPayment"
                                      >
                                        Admin made payment to this account
                                      </label>
                                    </div>
                                  </div>

                                  <div class="modal-footer">
                                    <button
                                      type="button"
                                      class="btn btn-secondary"
                                      data-bs-dismiss="modal"
                                    >
                                      Close
                                    </button>

                                    <button
                                      type="submit"
                                      class="btn btn-success"
                                    >
                                      Approve Withdrawal
                                    </button>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td>
                          <!-- Button trigger modal -->
                          <button
                            type="button"
                            class="btn btn-sm btn-danger"
                            data-bs-toggle="modal"
                            data-bs-target="#reject-request-modal-<%= data.requests[i].id %>"
                          >
                            Reject
                          </button>

                          <!-- Modal -->
                          <div
                            class="modal fade"
                            id="reject-request-modal-<%= data.requests[i].id %>"
                            tabindex="-1"
                            aria-hidden="true"
                          >
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h1 class="modal-title fs-5">
                                    Reject Withdrawal Request
                                  </h1>
                                  <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"
                                  ></button>
                                </div>
                                <form class="rejectRequestForm">
                                  <input
                                    type="text"
                                    name="id"
                                    value="<%= data.requests[i].id %>"
                                    class="d-none"
                                  />
                                  <div class="modal-body">
                                    <div class="mb-3">
                                      <label class="form-label">Reason</label>
                                      <textarea
                                        class="form-control"
                                        rows="3"
                                        name="message"
                                      ></textarea>
                                    </div>
                                  </div>
                                  <div class="modal-footer">
                                    <button
                                      type="button"
                                      class="btn btn-secondary"
                                      data-bs-dismiss="modal"
                                    >
                                      Close
                                    </button>
                                    <button
                                      type="submit"
                                      class="btn btn-danger"
                                    >
                                      Reject
                                    </button>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td>
                          <a
                            href="<%= `?wt=${data.wallet}&q=${data.requests[i].User.username}` %>"
                            class="btn btn-info btn-sm"
                          >
                            View
                          </a>
                        </td>
                        <td>
                          <button type="button" class="btn btn-info btn-sm">
                            View
                          </button>
                        </td>
                      </tr>
                      <!-- Button trigger modal -->

                      <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
              <%- include('../partials/pagination', {urlPrefix: data.q ?
              `?wt=${data.wallet}&q=${data.q}` : `?wt=${data.wallet}`, data}) %>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- End #main -->

    <%- include('../layout/footer') %> <%- include('../partials/scripts') %>
  </body>
</html>
