<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <%- include('../layout/navbar') %> <%- include('../partials/logout') %> <%-
    include('../layout/sidebar') %>

    <main id="main" class="main">
      <%- include('../layout/breadcrumb') %>

      <section class="section dashboard">
        <div class="row">
          <div class="card offset-md-1 col-md-10 offset-lg-2 col-lg-8">
            <div class="card-header p-0 pb-2">
              <h4 class="card-title fs-2"><%- data.news.title %></h4>
            </div>
            <div class="card-body p-0 py-4">
              <div class="p-0 ratio-16x9 single-news-img">
                <img
                  src="/uploads/images/<%= data.news.photo %>"
                  alt="News Photo"
                />
              </div>
              <div class="my-4"></div>
              <div class="p-0"><%- data.news.description %></div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- End #main -->

    <%- include('../layout/footer') %> <%- include('../partials/scripts') %>
  </body>
</html>
