<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <%- include('../layout/navbar') %> <%- include('../partials/logout') %> <%-
    include('../layout/sidebar') %>

    <main id="main" class="main">
      <%- include('../layout/breadcrumb') %>

      <section class="section dashboard">
        <div class="row" style="color: #012970">
          <div class="col-12">
            <div class="card">
              <div class="card-body pt-4">
                <form action="" method="GET">
                  <div class="input-group mb-3">
                    <input
                      type="text"
                      name="q"
                      class="form-control"
                      placeholder="Search username, fullname, or email"
                      aria-label="Search"
                      value="<%= data.q %>"
                    />
                    <button class="btn btn-outline-secondary" type="submit">
                      <i class="bx bx-search-alt-2"></i>
                    </button>
                  </div>
                </form>
                <div class="table-responsive">
                  <table
                    class="table orders-table table-striped table-bordered text-truncate"
                    style="width: 100%"
                  >
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Current Cycle</th>
                        <th>Reason</th>
                        <th>Block Date</th>
                        <th>Unblock</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for( let i = 0; i < data.members.length; i++ ) { %>
                      <tr>
                        <th><%= data.members[i].fullName %></th>
                        <td><%= data.members[i].username %></td>
                        <td>
                          <%= "B" + data.members[i].bronze.currentCycle + ", G"
                          + data.members[i].gold.currentCycle + ", D" +
                          data.members[i].diamond.currentCycle %>
                        </td>
                        <td><%= data.members[i].BlockedUser.reason %></td>
                        <td>
                          <%=
                          (data.members[i].BlockedUser.updatedAt).toLocaleDateString()%>
                        </td>
                        <td>
                          <button
                            data-bs-toggle="modal"
                            data-bs-target="#unblockModal"
                            class="btn btn-warning"
                          >
                            Unblock
                          </button>
                        </td>
                        <div class="modal fade" id="unblockModal" tabindex="-1">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">Unblock Account</h5>
                                <button
                                  type="button"
                                  class="btn-close"
                                  data-bs-dismiss="modal"
                                  aria-label="Close"
                                ></button>
                              </div>
                              <div class="modal-body">
                                Are you sure you want to unblock <%=
                                data.members[i].fullName %> account?
                              </div>
                              <div class="modal-footer">
                                <button
                                  type="button"
                                  class="btn btn-secondary"
                                  data-bs-dismiss="modal"
                                >
                                  Cancel
                                </button>
                                <form class="unblock-member">
                                  <input
                                    type="text"
                                    name="memberId"
                                    class="d-none"
                                    value="<%= data.members[i].id %>"
                                  />
                                  <button type="submit" class="btn btn-success">
                                    Unblock
                                  </button>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </tr>
                      <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
              <%- include('../partials/pagination', {urlPrefix: data.q ?
              `?q=${data.q}` : `?p=""`, data}) %>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- End #main -->

    <%- include('../layout/footer') %> <%- include('../partials/scripts') %>
  </body>
</html>
