<!doctype html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <%- include('../layout/navbar') %> <%- include('../partials/logout') %> <%-
    include('../layout/sidebar') %>

    <main id="main" class="main">
      <%- include('../layout/breadcrumb') %>

      <section class="section dashboard">
        <div class="row" style="color: #012970">
          <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <div class="card">
              <div class="card-body pt-5">
                <form id="constants-form">
                    <% for( let i = 0; i < data.constants.length; i++ ) { %>
                        <div class="mb-3">
                            <label for="<%= data.constants[i].name %>" class="form-label fw-bold">
                                <%= data.constants[i].label %>
                            </label>
                            
                            <input
                            id="<%= data.constants[i].name %>"
                            type="text"
                            name="<%= data.constants[i].name %>"
                            value="<%= data.constants[i].value %>"
                            class="form-control constants-inputs"
                            readonly
                            />
                          
                        </div>
                    <% } %>
                    <div class="mt-5">
                        <button class="btn btn-primary w-100" id="edit-constants-btn" type="button">Edit </button>
                        <button class="btn btn-success w-100 d-none" id="confirm-constants-btn" data-bs-toggle="modal" data-bs-target="#enterOTPModal" type="button">confirm </button>
                    </div>
                    

                    <!-- Modal -->
                    <div class="modal fade" id="enterOTPModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">
                              Complete Action
                            </h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                             <div class="mb-3 mt-3">
                            <label for="otp" class="form-label fw-bold">
                                Enter OTP
                            </label>
                            
                            <input
                            id="otp"
                            type="text"
                            name="otp"
                            class="form-control"
          
                            />
                          
                        </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                          </div>
                        </div>
                      </div>
                    </div>


                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- End #main -->

    <%- include('../layout/footer') %> <%- include('../partials/scripts') %>
  </body>
</html>
g
