<!doctype html>
<html lang="en">
    <%- include('partials/head') %>

    <body>
        <%- include('layout/navbar') %> <%- include('partials/logout') %> <%-
        include('layout/sidebar') %>

        <main id="main" class="main">
            <%- include('layout/breadcrumb') %>

            <section class="section dashboard">
                <div class="row" style="color: #012970">
                    <div
                        class="col-12 col-lg-6 order-1 order-lg-2"
                        data-aos="zoom-in"
                        data-aos-delay="150"
                    >
                        <img
                            src="/static/assets/img/about.jpg"
                            class="img-fluid"
                            alt=""
                        />
                    </div>
                    <div
                        class="col-12 col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content"
                        data-aos="fade-right"
                    >
                        <h3>Training About Promo Contest</h3>

                        <ul>
                            <li>
                                <b>Day1:</b> Run facebook ads with your referral
                                link.
                            </li>

                            <li>
                                <b>Day2:</b> Run facebook, WhatsApp and zoom
                                meeting presentation of your business. Upload
                                your zoom meeting presentation to google drive.
                            </li>

                            <li>
                                <b>Day3:</b> Record a 10min long offline seminar
                                of you presenting your business to new prospect
                                in your area, and upload this video to youtube
                                and tiktok respectively, then share link with us
                                under offline promotion.
                            </li>
                        </ul>
                    </div>
                    <div class="order-3 col-12 mt-4">
                        <h3>How To Run Facebook Ads.</h3>
                        <p>
                            Use a dollar card or virtual dollar card services
                            like Payday, chipper cash, klasha, PST and Grey or
                            other virtual dollar card to pay for your facebook
                            ads.
                        </p>
                    </div>
                </div>
                <div
                    class="row mt-4 justify-content-center"
                    style="color: #012970"
                >
                    <div class="border p-4 col-lg-8">
                        <h3>Upload Promotion</h3>
                        <ul class="nav nav-tabs nav-tabs-bordered">
                            <li class="nav-item">
                                <button
                                    class="nav-link active"
                                    data-bs-toggle="tab"
                                    data-bs-target="#ads"
                                >
                                    Ads
                                </button>
                            </li>

                            <li class="nav-item">
                                <button
                                    class="nav-link"
                                    data-bs-toggle="tab"
                                    data-bs-target="#meeting"
                                >
                                    Meeting
                                </button>
                            </li>

                            <li class="nav-item">
                                <button
                                    class="nav-link"
                                    data-bs-toggle="tab"
                                    data-bs-target="#offline"
                                >
                                    Offline
                                </button>
                            </li>

                            <li class="nav-item">
                                <button
                                    class="nav-link"
                                    data-bs-toggle="tab"
                                    data-bs-target="#submit_new"
                                >
                                    Submit new signup list
                                </button>
                            </li>
                        </ul>

                        <div class="tab-content pt-2">
                            <!-- This is ads form -->
                            <div
                                class="tab-pane fade show active profile-overview"
                                id="ads"
                            >
                                <form id="ads-form">
                                    <label
                                        for="facebookAdsLink"
                                        class="form-label"
                                        >Upload facebook ads link</label
                                    >
                                    <input
                                        type="text"
                                        name="facebookAdsLink"
                                        class="form-control"
                                        id="facebookAdsLink"
                                        placeholder="Upload link"
                                        required
                                    />

                                    <label
                                        for="facebookAdsPhoto"
                                        class="form-label"
                                        >Upload facebook ads metrics
                                        screenshot</label
                                    >
                                    <input
                                        type="file"
                                        name="photo"
                                        accept="image/*"
                                        class="form-control"
                                        id="facebookAdsPhoto"
                                        required
                                    />
                                    <div
                                        class="mt-3 d-flex justify-content-between p-2"
                                    >
                                        <button
                                            type="submit"
                                            class="btn btn-primary m-0"
                                        >
                                            Submit
                                        </button>
                                    </div>
                                </form>
                            </div>

                            <!-- This is meeting -->
                            <div
                                class="tab-pane fade show profile-overview"
                                id="meeting"
                            >
                                <form id="meetings-form">
                                    <label
                                        for="facebookGroupLink"
                                        class="form-label"
                                        >Facebook group presentation link</label
                                    >
                                    <input
                                        type="text"
                                        name="facebookGroupLink"
                                        id="facebookGroupLink"
                                        class="form-control"
                                        placeholder="Upload link"
                                        required
                                    />

                                    <label
                                        for="whatsappGroupPhoto"
                                        class="form-label"
                                        >WhatsApp group presentation
                                        screenshot</label
                                    >
                                    <input
                                        type="file"
                                        accept="image/*"
                                        name="photo"
                                        id="whatsappGroupPhoto"
                                        class="form-control"
                                        required
                                    />

                                    <label
                                        for="zoomMeetingLink"
                                        class="form-label"
                                        >Zoom meeting presentation</label
                                    >
                                    <input
                                        type="text"
                                        name="zoomMeetingLink"
                                        id="zoomMeetingLink"
                                        class="form-control"
                                        placeholder="paste google drive link here"
                                        required
                                    />
                                    <div
                                        class="mt-3 d-flex justify-content-between p-2"
                                    >
                                        <button
                                            type="submit"
                                            class="btn btn-primary m-0"
                                        >
                                            Submit
                                        </button>
                                    </div>
                                </form>
                            </div>

                            <!-- this is offline form -->
                            <div
                                class="tab-pane fade show profile-overview"
                                id="offline"
                            >
                                <form id="offline-form">
                                    <label
                                        for="youtubeVideoLink"
                                        class="form-label"
                                        >10min Youtube video link</label
                                    >
                                    <input
                                        type="text"
                                        name="youtubeVideoLink"
                                        id="youtubeVideoLink"
                                        class="form-control"
                                        placeholder="Upload link"
                                        required
                                    />

                                    <label
                                        for="tiktokVideoLink"
                                        class="form-label"
                                        >10min Tiktok video link</label
                                    >
                                    <input
                                        type="text"
                                        name="tiktokVideoLink"
                                        id="tiktokVideoLink"
                                        class="form-control"
                                        placeholder="Upload link"
                                        required
                                    />
                                    <div
                                        class="mt-3 d-flex justify-content-between p-2"
                                    >
                                        <button
                                            type="submit"
                                            class="btn btn-primary m-0"
                                        >
                                            Submit
                                        </button>
                                    </div>
                                </form>
                            </div>

                            <!-- this is submit/sign up form -->
                            <div
                                class="tab-pane fade show profile-overview"
                                id="submit_new"
                            >
                                <form id="signups-form">
                                    <label for="usernames" class="form-label"
                                        >Submit the username of new members you
                                        signed up through this contest
                                        here</label
                                    >
                                    <div class="d-flex gap-2">
                                        <input
                                            type="text"
                                            name="usernames"
                                            id="usernames"
                                            class="form-control"
                                        />
                                        <button
                                            id="add-usernames"
                                            type="button"
                                            class="btn btn-outline-primary"
                                        >
                                            Add
                                        </button>
                                    </div>
                                    <strong class="mt-2">Usernames:</strong>
                                    <ol id="display-usernames" class="mt-1">
                                        <li>-----</li>
                                    </ol>

                                    <div
                                        class="mt-3 d-flex justify-content-between p-2"
                                    >
                                        <button
                                            type="submit"
                                            class="btn btn-primary m-0"
                                        >
                                            Submit
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- End #main -->
        <%- include('layout/footer') %> <%- include('partials/scripts') %>
    </body>
</html>
