<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>

  <body>
    <%- include('layout/navbar') %> <%- include('partials/logout') %> <%-
    include('layout/sidebar') %>

    <main id="main" class="main">
      <%- include('layout/breadcrumb') %>

      <section class="section dashboard">
        <div class="row">
          <div class="d-md-flex gap-md-4 col-12 w-100">
            <% if (data.eWallet) { %>

            <div class="card w-100 info-card customers-card pb-0">
              <div class="card-body">
                <h5 class="card-title pb-0 mb-1">
                  <%= data.eWallet.virtualBankName %>
                </h5>
                <div class="w-100 d-flex flex-column gap-3">
                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <div class="text-truncate">
                      <h6 class="text-truncate copy-item">
                        <%= data.eWallet.accountNumber %>
                      </h6>
                    </div>
                    <div
                      class="card-icon rounded-circle d-flex align-items-center justify-content-center copy-button btn"
                      data-bs-toggle="tooltip"
                      data-bs-placement="top"
                    >
                      <i class="bx bx-copy"></i>
                    </div>
                  </div>
                  <div class="text-truncate">
                    <h6 class="text-truncate">
                      <%= data.eWallet.accountName %>
                    </h6>
                  </div>
                </div>
              </div>
              <div class="w-100 text-center more-info"></div>
            </div>
            <div
              class="card w-100 info-card customers-card pb-0"
              style="color: #012970"
            >
              <div class="card-body">
                <h5 class="card-title">E-wallet Balance</h5>
                <div class="text-center text-md-start">
                  <h6>
                    &#8358;
                    <span><%= (data.eWallet.balance).toLocaleString() %></span>
                  </h6>
                </div>
                <div class="gap-4 d-flex align-items-center w-100">
                  <span
                    class="w-100 d-inline-block border border-2 border-info-subtle rounded-2"
                  ></span>
                  <span class="text-info-emphasis"
                    ><i class="bi bi-arrow-down-up"></i
                  ></span>
                  <span
                    class="w-100 d-inline-block border border-2 border-info-subtle rounded-2"
                  ></span>
                </div>
                <div class="text-center text-md-start">
                  <h6>
                    $
                    <span>
                      <%= Number((data.eWallet.balance /
                      1000).toFixed(2)).toLocaleString() %>
                    </span>
                  </h6>
                </div>
                <small> <em> 1 USD ($) = 1000 NGN (&#8358;) </em> </small>
              </div>
              <div class="w-100 text-center more-info"></div>
            </div>

            <% } %>
          </div>
        </div>
      </section>

      <section class="section">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Transtion History</h3>
            <ul class="list-group list-group-flush">
              <!-- <li class="list-group-item">
                <div class="d-flex align-items-center gap-2">
                  <span
                    style="flex: none; height: 32px; width: 32px"
                    class="bg-success-subtle text-success fs-4 rounded-1 d-flex align-items-center justify-content-center"
                  >
                    <i class="bx bxs-time"></i>
                  </span>
                  <div class="d-flex flex-column w-100">
                    <small class="text-success">success</small>
                    <span>Wallet funded via Wema bank</span>
                  </div>
                  <h4 class="m-0 p-0 text-primary">
                    &#8358;<span>100,000</span>
                  </h4>
                </div>
              </li> -->
            </ul>
          </div>
        </div>
      </section>
    </main>
    <!-- End #main -->
    <%- include('layout/footer') %> <%- include('partials/scripts') %>
  </body>
</html>
