<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>

  <body>
    <%- include('layout/navbar') %> <%- include('partials/logout') %> <%-
    include('layout/sidebar') %>

    <main id="main" class="main">
      <%- include('layout/breadcrumb') %>

      <section class="section">
        <div class="row">
          <div class="d-md-flex gap-md-4 col-12 w-100">
            <% if (data.eWallet) { %>

            <div class="card w-100" style="color: #012970">
              <div class="card-body">
                <h5 class="card-title">Funding Account details</h5>
                <div
                  class="w-100 d-flex flex-column align-items-center align-items-lg-start"
                >
                  <p class="mb-0">Account Name:</p>
                  <h4><%= data.eWallet.accountName %></h4>
                  <p class="mb-0">Bank Name:</p>
                  <h4><%= data.eWallet.virtualBankName %></h4>
                  <p class="mb-0">Account Number:</p>
                  <h4 class="fs-1"><%= data.eWallet.accountNumber %></h4>
                </div>
              </div>
            </div>
            <div class="card w-100" style="color: #012970">
              <div class="card-body">
                <h5 class="card-title">E-wallet Balance</h5>
                <div class="text-center text-md-start">
                  <p class="fs-1">
                    &#8358; <span><%= data.eWallet.balance %></span>
                  </p>
                </div>
                <div class="gap-4 d-flex align-items-center w-100">
                  <span
                    class="w-100 d-inline-block border border-2 border-info-subtle rounded-2"
                  ></span>
                  <span class="text-info-emphasis"
                    ><i class="bi bi-arrow-down-up"></i
                  ></span>
                  <span
                    class="w-100 d-inline-block border border-2 border-info-subtle rounded-2"
                  ></span>
                </div>
                <div class="text-center text-md-start">
                  <p class="fs-1">
                    $
                    <span><%= (data.eWallet.balance / 1150).toFixed(2) %></span>
                  </p>
                </div>
                <h6>1 USD ($) = 1150 NGN (&#8358;)</h6>
              </div>
            </div>
            <% } else { %>
            <div class="d-flex justify-content-center w-100 my-4">
              <a href="/e-wallet" class="btn btn-success"
                >Generate Virtual Account</a
              >
            </div>
            <% } %>
          </div>
        </div>
      </section>

      <section class="section">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Transtion History</h3>
            <ul class="list-group list-group-flush">
              <!-- <li class="list-group-item">
                <div class="d-flex align-items-center gap-2">
                  <span
                    style="flex: none; height: 32px; width: 32px"
                    class="bg-success-subtle text-success fs-4 rounded-1 d-flex align-items-center justify-content-center"
                  >
                    <i class="bx bxs-time"></i>
                  </span>
                  <div class="d-flex flex-column w-100">
                    <small class="text-success">success</small>
                    <span>Wallet funded via Wema bank</span>
                  </div>
                  <h4 class="m-0 p-0 text-primary">
                    &#8358;<span>100,000</span>
                  </h4>
                </div>
              </li> -->
            </ul>
          </div>
        </div>
      </section>
    </main>
    <!-- End #main -->
    <%- include('layout/footer') %> <%- include('partials/scripts') %>
  </body>
</html>
