<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>

  <body>
    <%- include('layout/navbar') %> <%- include('partials/logout') %> <%-
    include('layout/sidebar') %>

    <main id="main" class="main">
      <%- include('layout/breadcrumb') %>

      <section class="section dashboard">
        <div class="row">
          <div class="d-md-flex gap-md-4 col-12 w-100">
            <% if (data.eWallet) { %>

            <div class="card w-100 info-card customers-card pb-0">
              <div class="card-body">
                <h5 class="card-title pb-0 mb-1"><%= data.bank.bankName %></h5>
                <div class="w-100 d-flex flex-column gap-3">
                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <div class="text-truncate">
                      <h6 class="text-truncate copy-item">
                        <%= data.bank.accountNumber %>
                      </h6>
                    </div>
                    <div
                      class="card-icon rounded-circle d-flex align-items-center justify-content-center copy-button btn"
                      data-bs-toggle="tooltip"
                      data-bs-placement="top"
                    >
                      <i class="bx bx-copy"></i>
                    </div>
                  </div>
                  <div class="text-truncate">
                    <h6 class="text-truncate"><%= data.bank.accountName %></h6>
                  </div>
                </div>
              </div>
              <div class="w-100 text-center more-info"></div>
            </div>
            <div
              class="card w-100 info-card customers-card pb-0"
              style="color: #012970"
            >
              <div class="card-body">
                <h5 class="card-title">E-wallet Balance</h5>
                <div class="text-center text-md-start">
                  <h6>
                    &#8358;
                    <span><%= (data.eWallet.balance).toLocaleString() %></span>
                  </h6>
                </div>
                <div class="gap-4 d-flex align-items-center w-100">
                  <span
                    class="w-100 d-inline-block border border-2 border-info-subtle rounded-2"
                  ></span>
                  <span class="text-info-emphasis"
                    ><i class="bi bi-arrow-down-up"></i
                  ></span>
                  <span
                    class="w-100 d-inline-block border border-2 border-info-subtle rounded-2"
                  ></span>
                </div>
                <div class="text-center text-md-start">
                  <h6>
                    $
                    <span>
                      <%= Number((data.eWallet.balance /
                      data.bank.usdRate).toFixed(2)).toLocaleString() %>
                    </span>
                  </h6>
                </div>
                <small>
                  <em> 1 USD ($) = <%= data.bank.usdRate %> NGN (&#8358;) </em>
                </small>
              </div>
              <div class="w-100 text-center more-info"></div>
            </div>

            <% } %>
          </div>
        </div>
      </section>

      <section class="section">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Transtion History</h3>
            <ul class="list-group list-group-flush">
              <% for( let i = 0; i < data.transactions.length; i++ ) { %>

              <li class="list-group-item px-0">
                <div class="d-flex align-items-center gap-2">
                  <span
                    style="flex: none; height: 32px; width: 32px"
                    class="bg-success-subtle text-success fs-4 rounded-1 d-flex align-items-center justify-content-center"
                  >
                    <i class="bx bxs-time"></i>
                  </span>
                  <div class="d-flex flex-column w-100">
                    <small class="text-success">success</small>
                    <span> <%= (data.transactions[i].narration)%> </span>
                  </div>
                  <div class="d-flex flex-column flex-shrink-0 text-end">
                    <small> <%= (data.transactions[i].dateTime).toLocaleString('en-US', {
                                                                                  month: 'short',
                                                                                  day: 'numeric',
                                                                                  hour: '2-digit',
                                                                                  minute: '2-digit',
                                                                                  hour12: false, // Use 24-hour format
                                                                                  timeZone: 'UTC' // Ensure it shows the correct time in UTC
                                                                                })%> 
                    </small>

                    <p class="m-0 p-0 text-primary h6 d-md-none">
                      &#8358;<span> <%= (data.transactions[i].amount).toLocaleString()%> </span>
                    </p>
                    <p class="m-0 p-0 text-primary h4 d-none d-md-block">
                      &#8358;<span> <%= (data.transactions[i].amount).toLocaleString()%> </span>
                    </p>
                  </div>
                </div>
              </li> 

              <% } %>
            
            </ul>
          </div>
             <div class="card-footer">
                <nav aria-label="...">
                  <ul class="pagination justify-content-center">
                    <li
                      class="page-item <%= !data.pagination.prevPage || data.pagination.currentPage === 1 ? 'disabled': '' %>"
                    >
                      <a
                        class="page-link"
                        href="?page=<%= data.pagination.prevPage || 1 %>"
                        aria-label="Previous"
                      >
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    <% for (let i = 1; i < data.pagination.totalPages + 1; i++)
                    {%>
                    <li
                      class="page-item <%= i === data.pagination.currentPage ? 'active' : '' %>"
                      aria-current="page"
                    >
                      <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                    </li>
                    <% } %>

                    <li class="page-item">
                      <a
                        class="page-link <%= !data.pagination.nextPage || data.pagination.currentPage === data.pagination.totalPages ? 'disabled': '' %>"
                        href="?page=<%= data.pagination.nextPage || data.pagination.totalPages %>"
                        aria-label="Next"
                      >
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
        </div>
      </section>
    </main>
    <!-- End #main -->
    <%- include('layout/footer') %> <%- include('partials/scripts') %>
  </body>
</html>
