<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>

  <body>
    <%- include('layout/navbar') %> <%- include('partials/logout') %> <%-
    include('layout/sidebar') %>

    <main id="main" class="main">
      <%- include('layout/breadcrumb') %>

      <section class="section">
        <div class="d-grid align-items-center justify-content-center">
          <div class="">successfully</div>
        </div>
      </section>
    </main>
    <!-- End #main -->
    <%- include('layout/footer') %> <%- include('partials/scripts') %>
  </body>
</html>
