<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <%- include('../layout/navbar') %> <%- include('../partials/logout') %> <%-
    include('../layout/sidebar') %>

    <main id="main" class="main">
      <%- include('../layout/breadcrumb') %>
      <section class="section dashboard">
        <div class="row">
          <div class="col-12 mb-3 d-flex gap-2 justify-content-end">
            <% if (data.message.sender === "USER") { %>
            <a
              href="/admin/messages/send?member=<%= data.member.username %>"
              class="btn btn-primary"
            >
              Reply
            </a>
            <% } %>

            <a
              href="/admin/messages/<%= data.member.id %>"
              class="btn btn-info"
            >
              Veiw Conversation
            </a>
            <% if (data.message.sender === "ADMIN") { %>
            <button
              class="btn btn-danger"
              id="deleteMessageBtn"
              data-id=" <%= data.message.id %>"
            >
              <i class="bx bx-trash"></i>
              <span class="d-none d-md-inline"> Delete </span>
            </button>
            <% } %>
          </div>
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <h5
                  class="card-title border-bottom d-flex justify-content-between"
                >
                  <%= data.message.title %>
                  <span class="flex-shrink-0">
                    <%= data.message.sender === 'USER' ? 'From:': 'To:' %> <%=
                    data.member.username %>
                  </span>
                </h5>
                <p><%- data.message.narration %></p>
              </div>
              <div class="card-footer">
                <span>
                  <small>
                    <%= data.message.createdAt.toLocaleDateString('en-GB', {
                    day: '2-digit', month: '2-digit', year: '2-digit' }) %> -
                    <%= data.message.createdAt.toLocaleTimeString('en-GB', {
                    hour: '2-digit', minute: '2-digit', hour12: false }) %>
                  </small>
                </span>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- End #main -->

    <%- include('../layout/footer') %> <%- include('../partials/scripts') %>
  </body>
</html>
