<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <%- include('../layout/navbar') %> <%- include('../partials/logout') %> <%-
    include('../layout/sidebar') %>

    <main id="main" class="main">
      <%- include('../layout/breadcrumb') %>

      <section class="section dashboard">
        <div class="row" style="color: #012970">
          <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <div class="card">
              <div class="card-body earn-weekly">
                <h4 class="card-title">HOW TO TELL THE NEWS</h4>

                <div>
                  <h5>WHAT IS GHC?</h5>
                  <p>
                    <strong>Grand Health Cycle</strong> is a revolutionary
                    e-commerce company that gives you the opportunity to create
                    good health and also make wealth. That is when you purchase
                    their package products as a prospect, you're also given a
                    multilevel marketing opportunity to make money with us,
                    you're giving welcome commission for joining us, selling
                    products rights and you also earn lots of commission and
                    prizes as an affiliate. This opportunity is not limited to
                    Africans so don't limit your self, invite affiliates from
                    all around the world as opportunity is given to them to earn
                    money in dollars with different payment methods.
                  </p>
                </div>
                <div>
                  <h5>HOW TO MAKE $100 TO $500 WEEKLY?</h5>
                  <p>
                    From grand health cycle, we will be teaching you how to get
                    massive referrals and grow your account so fast, become a
                    cycle leader in all Bronze, Gold and Diamond packages that
                    earn from $100 to $500 weekly. We will teach you how you can
                    get referrals offline and online anywhere on your social
                    media platform such as Facebook, Twitter, WhatsApp,
                    Instagram, Messenger and Telegram Group.
                  </p>
                  <strong>Follow the steps below.</strong>
                  <ol>
                    <li>
                      The first to success in Grand Health Cycle is to know that
                      it's your business. If you don't advertise, go out or make
                      noise, nobody will know and buy from you, so you need to
                      go out and make noise about your business, you can
                      organize anything or events. Don't mind the few rejection
                      you will get because in the journey of success, rejection
                      and failure is bound. else, you are not fit to be
                      successful or success is not for you.
                    </li>
                    <li>
                      The second step to making it in Grand Health Cycle is
                      printing the company vest with GHC logo in the front and
                      "Make $100 to $500 dollars weekly" design on the back,
                      advertise your self without talking too much and let
                      people wonder what you do and how you can help them get
                      same results. you can find this cloth design on marketing
                      page on your account, download it and buy the cloth
                      materials, take it to the cloth customization press in
                      town or near you. You can also "Google cloth customization
                      near me" on Google to find them google. Start using this
                      cloth to market your self and the business. This will work
                      like magic for you.
                    </li>
                    <li>
                      When purchasing packages for first time, click on all the
                      packages to purchase at least one quantity of all the
                      packages at once so that you don't loose money by having
                      unclaimed rewards from downlines purchasing package you
                      didn't purchase, you will loose them forever under that
                      package and also loose money.
                      <br />
                      <br />

                      I.e Try to purchase 1 quantity of Bronze, Gold and Diamond
                      each, you can also purchase unlimited number of quantity
                      in each package if you like or if you want to signups
                      massive audience from big events or crowds so that your
                      referring ability is not defaulted to 9 but 9 x how many
                      quantity you purchased. Also, tell your downlines to do
                      the same thing by purchasing all the packages at once so
                      that they too don't loose revenue they should earn and
                      loose their downlines to unclaimed rewards.
                    </li>
                    <li>
                      Work with your downlines to make sure they succeed in
                      completing their team, so they can repurchase new packages
                      and push your self forward.
                    </li>
                    <li>
                      Join hands with your downlines or team to organize at
                      least 3 times a week seminar or event and share handbills
                      to invite people for training endlessly, then sign them
                      up. Hold this seminar in your area at least three times a
                      week.
                    </li>
                    <li>
                      Keep doing this activities or keep referring even after
                      you becoming a cycle leader, becoming a cycle leader is
                      not the end, the more you proceed, the bigger money you
                      earn or prizes you claim. You can win prizes such as
                      landed properties, cars, power bikes, travels, gadgets
                      e.t.c
                    </li>
                    <li>
                      Go to popular places with crowd going in and out e.g
                      malls, ShopRite, hotels, market place, garages,
                      institutions, computer and gadget villages. Ware your vest
                      and stay by entrance and advertise your opportunity to
                      prospect going to and fro. You will meet lots of your
                      potential downlines that will become your team members.
                    </li>
                    <li>
                      Explain your business model to potential downlines. Grand
                      Health Cycle not a come and go online business like
                      others. We sell real products and your business is a very
                      save as we operate a simple mathematics that makes your
                      earn by only working, and your money remains in the system
                      till you complete your team.
                    </li>
                    <li>
                      To build a crazy working team under you, organize your
                      team and go to school environment and share your
                      opportunity to a large crowed of students by getting
                      permission from their class reps, school governors,
                      lecturers and student union departments to access their
                      students during or after lectures. If you're a student or
                      not, this is the best opportunity for you, start from your
                      department, move to your school and SUG, from there move
                      to other schools or faculty in your school to present your
                      opportunity to large number of students and big signups.
                      <br />
                      <br />
                      When you're done with your own or that institution, move
                      with your team to other institution and universities to
                      repeat the same thing, keep touring schools and your
                      journey to earning $100 to $500 weekly will be incredible.
                      Information quickly travels among student, especially
                      tertiary institution, this opportunities is a special
                      advantage source of income for students because of global
                      economic crisis, some students are financing their own
                      wellbeing or education.
                    </li>
                    <li>
                      Make sure you purchase all the 3 package when you join,
                      explained above i.e(Bronze, Gold and Diamond) so you can
                      earn money from anybody that join any package under you.
                      E.g If you signup with Bronze and a potential downline
                      decide to join with Gold or Diamond under you, you lost
                      that downline forever, the referral and future leader
                      bonus will not be yours forever, it will become system
                      downline. I.e Unclaimed reward.
                    </li>
                    <li>
                      Work to become a cycle leader by purchasing 5th cycles
                      each in each package, which is equal to at least 36
                      downlines plus purchase of the 5th which is cycle 5. Then
                      you already become a cycle leader, qualifying to earn
                      repurchasing cycle leader bonus from your downlines you
                      didn't miss down to six generations deep.
                    </li>
                    <li>
                      Advertise your business on job sites and social media,
                      then invite prospect for your seminar.
                    </li>
                    <li>
                      Print and advertise your business on poster bills as job
                      poster bill and invite prospect for your seminar.
                    </li>
                    <li>
                      Go with your team to virgin locations or far places that
                      has not been touched, advertise your event on any media
                      outlets and print handbills and go out to invite prospect
                      for your event in such location.
                    </li>
                    <li>
                      Share your testimony on YouTube, Facebook and TikTok to
                      claim your testimony bonus and add your referral link to
                      the bottom of the video to promote your self.
                    </li>
                    <li>
                      Hold weekly seminar with your team members, with each
                      member prospecting to bring new members to the seminar
                      event every week.
                    </li>
                    <li>
                      Join business promotion contest to win cash prizes and
                      amazing incentive rewards.
                    </li>
                    <li>
                      Market and sell our digital and physical products in store
                      so you can make money by not referring anyone.
                    </li>

                    <li>
                      Create a Facebook, WhatsApp, Telegram Group, and TikTok
                      page for your business. Name it Grand Health Cycle, and
                      you can add your team name to it.
                    </li>
                    <li>
                      Join a whole lot of Facebook Groups, especially
                      unemployment groups, and start marketing your business
                      there. Though not only unemployment groups, there are
                      thousands of groups you can join.
                    </li>
                    <li>
                      After completing each 9-team cycle and withdrawal, create
                      a video about your withdrawal testimony and upload it to
                      your Facebook page or account, TikTok, and YouTube. Then
                      create a request for a testimony bonus and get a testimony
                      bonus.
                    </li>
                    <li>
                      Get as many payout proofs, bank alerts, and bank
                      statements from Grand Health Cycle to show them in various
                      groups you join, to prospect and our official group, this
                      tells prospects we are real and genuine.
                    </li>
                    <li>
                      Write and talk about Grand Health Cycle. Use banners and
                      images as your WhatsApp Status and other platforms you can
                      showcase the brand so your friends can ask you about Grand
                      Health Cycle.
                    </li>
                    <li>
                      Post sexy women pictures on your WhatsApp status and post
                      Grand Health Cycle banners, and text links in between your
                      WhatsApp Status to attract prospects.
                    </li>
                    <li>
                      Post topics about women/romance and add your WhatsApp
                      Group link for members to join.
                    </li>
                    <li>
                      Get awesome REAL and GENUINE testimonials from our awesome
                      Members HERE and our testimony page!
                    </li>
                    <li>
                      Get your WhatsApp/Telegram Group Invite link and share it
                      to your Facebook Profile, Instagram Page, and Twitter
                      Handle.
                    </li>
                    <li>
                      Add your friends and relatives to the WhatsApp/Telegram
                      Group – Get writeups from Grand Health Cycle page by
                      pasting regularly and updating your friends about
                      QuickGetPay in your group.
                    </li>
                    <li>
                      Control the influx of spam postings in your group by
                      turning on privacy control if necessary – make yourself
                      the admin so as other participants would not spam your
                      group.
                    </li>
                    <li>
                      Send your alerts and payment proofs to get more referrals
                      to your WhatsApp Groups and Facebook Group.
                    </li>
                    <li>
                      Create more WhatsApp Groups and Telegram groups as many as
                      you can manage to keep getting more referrals for your
                      earning.
                    </li>
                    <li>
                      Post your business on a daily basis; never quit. A closed
                      shop doesn't make sales.
                    </li>
                    <li>
                      Getting a NO is not the end of the world. Don't let it
                      discourage you. There are over 200 million people in
                      Nigeria. Go for more.
                    </li>
                    <li>
                      Tell people about money-making online store products that
                      can make money for them if they sell after they join.
                    </li>
                    <li>If you quit easily, you can never be trusted.</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- End #main -->

    <%- include('../layout/footer') %> <%- include('../partials/scripts') %>
  </body>
</html>
