<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>

  <body>
    <main>
      <section
        class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4"
      >
        <div class="container">
          <div class="row justify-content-center">
            <div
              class="<%- !data.sponsorUsername ? 'col-md-6' : 'col-lg-10 col-md-12' %> d-flex flex-column align-items-center justify-content-center"
            >
              <div class="d-flex justify-content-center py-4">
                <a
                  href="/"
                  class="logo d-flex align-items-center w-auto flex-column gap-3"
                >
                  <img
                    src="/static/assets/img/ghc_logo.png"
                    alt="ghc_logo"
                    width="100"
                  />
                  <span class="d-none d-lg-block">Grand Health Cycle</span>
                </a>
              </div>
              <!-- End Logo -->

              <%- include('partials/alert') %>

              <div class="card mb-3 w-100">
                <div class="card-body">
                  <a
                    href="/auth/register"
                    class="btn btn-outline-secondary rounded-circle"
                    ><i class="bx bx-arrow-back"></i
                  ></a>
                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">
                      Create an Account
                    </h5>
                  </div>

                  <div class="row g-3 needs-validation">
                    <!--spnsor Id section-->

                    <% if (!data.sponsorUsername) { %>
                    <form
                      action="/auth/register"
                      class="col-12"
                      novalidate
                      id="auth-form"
                    >
                      <input type="hidden" />
                      <p class="text-center small">
                        Enter your Sponsor Details
                      </p>
                      <div class="form-group">
                        <label for="sponsor-id" class="form-label"
                          >Sponsor username</label
                        >
                        <input
                          type="text"
                          name="sponsorId"
                          class="form-control"
                          id="sponsor-id"
                          required
                          minlength="4"
                        />
                      </div>
                      <div class="mt-3 d-flex justify-content-between p-2">
                        <a
                          href="/auth/register?sponsorId=GHC"
                          class="btn btn-link"
                          >Skip</a
                        >
                        <button
                          type="submit"
                          class="btn btn-primary m-0"
                          id="submit-sponsor-id"
                        >
                          Continue
                        </button>
                      </div>
                    </form>

                    <% } else { %>
                    <!--User details section-->

                    <form id="register-form" method="POST" novalidate>
                      <div class="row">
                        <div class="col-12">
                          <p class="text-center small">
                            Enter your personal details to create account
                          </p>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="sponsor-id" class="form-label"
                            >Sponsor username</label
                          >
                          <p class="form-control">
                            <%= data.sponsorUsername %>
                          </p>
                          <input
                            type="text"
                            name="sponsorUsername"
                            value="<%= data.sponsorUsername %>"
                            class="form-control d-none"
                          />
                          <input
                            type="text"
                            name="sponsorId"
                            value="<%= data.sponsorID %>"
                            class="form-control d-none"
                          />
                        </div>
                        <div class="form-group col-md-6">
                          <label for="yourName" class="form-label">Name</label>
                          <input
                            type="text"
                            name="fullName"
                            class="form-control"
                            id="yourName"
                            required
                          />
                        </div>

                        <div class="col-md-6 form-group">
                          <label for="yourUsername" class="form-label"
                            >Username</label
                          >

                          <input
                            type="text"
                            name="username"
                            class="form-control"
                            id="yourUsername"
                            required
                            minlength="4"
                          />
                        </div>
                        <div class="col-md-6 form-group">
                          <label for="gender" class="form-label">Gender</label>
                          <select
                            class="form-select"
                            aria-label="Default select example"
                            required
                            name="gender"
                          >
                            <option selected disabled></option>
                            <option value="female">Female</option>
                            <option value="male">Male</option>
                          </select>
                        </div>

                        <div class="col-md-6 form-group">
                          <label for="yourEmail" class="form-label"
                            >Email</label
                          >
                          <input
                            type="email"
                            name="email"
                            class="form-control"
                            id="yourEmail"
                            required
                          />
                        </div>

                        <div class="col-md-6 form-group">
                          <label for="country" class="form-label"
                            >Country</label
                          >
                          <select
                            id="country"
                            name="country"
                            class="form-select"
                            required
                          >
                            <option selected disabled></option>
                            <% for( let i = 0; i < data.countries.length; i++ )
                            { %>
                            <option value="<%= data.countries[i] %>">
                              <%= data.countries[i] %>
                            </option>

                            <% } %>
                          </select>
                        </div>

                        <div class="col-md-6 form-group">
                          <label for="city" class="form-label">City</label>
                          <input
                            type="text"
                            name="city"
                            class="form-control"
                            id="city"
                            required
                          />
                        </div>

                        <div class="col-md-6 form-group">
                          <label for="phonenumber" class="form-label"
                            >Phone
                          </label>
                          <input
                            type="number"
                            name="phone"
                            class="form-control"
                            id="phonenumber"
                            required
                          />
                        </div>

                        <div class="col-md-6 form-group">
                          <label for="password" class="form-label"
                            >Password</label
                          >
                          <input
                            type="password"
                            name="password"
                            class="form-control"
                            id="password"
                            required
                            minlength="6"
                          />
                        </div>

                        <div class="col-md-6 form-group">
                          <label for="confirmPassword" class="form-label"
                            >Confirm Password</label
                          >
                          <input
                            type="password"
                            name="confirmPassword"
                            class="form-control"
                            id="confirmPassword"
                            required
                            minlength="6"
                          />
                        </div>
                        <div class="col-md-6 offset-md-3 mt-4">
                          <!-- Button trigger modal -->
                          <button
                            type="button"
                            class="btn btn-primary m-0 w-100"
                            data-bs-toggle="modal"
                            data-bs-target="#bank-details-modal"
                          >
                            Continue
                          </button>

                          <!-- Modal -->
                          <div
                            class="modal fade"
                            id="bank-details-modal"
                            tabindex="-1"
                            aria-labelledby="exampleModalLabel"
                            aria-hidden="true"
                          >
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h1
                                    class="modal-title fs-5"
                                    id="exampleModalLabel"
                                  >
                                    Enter your bank details
                                  </h1>
                                  <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"
                                  ></button>
                                </div>
                                <div class="modal-body">
                                  <div class="alert alert-info" role="alert">
                                    <strong>Note:</strong> The bank details you
                                    provide will be used for both funding your
                                    account by transferring funds to the
                                    company's account and receiving payments.
                                  </div>

                                  <div class="row">
                                    <div class="col-12 form-group">
                                      <label
                                        for="accountNumber"
                                        class="form-label"
                                        >Account Number</label
                                      >

                                      <input
                                        type="number"
                                        name="accountNumber"
                                        class="form-control"
                                        id="accountNumber"
                                        required
                                        minlength="10"
                                        maxlength="10"
                                      />
                                    </div>
                                    <div class="col-12 form-group">
                                      <label for="bankName" class="form-label"
                                        >Bank Name</label
                                      >
                                      <select
                                        class="form-select"
                                        id="bankName"
                                        aria-label="Default select example"
                                        required
                                        name="bankName"
                                      >
                                        <option selected disabled></option>
                                        <% for( let i = 0; i <
                                        data.banks.length; i++ ) { %>
                                        <option
                                          value="<%= data.banks[i].name %>"
                                          data-code="<%= data.banks[i].code %>"
                                        >
                                          <%= data.banks[i].name %>
                                        </option>

                                        <% } %>
                                      </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                      <label
                                        for="accountName"
                                        class="form-label"
                                      >
                                        Account Name
                                      </label>
                                      <input
                                        type="text"
                                        name="accountName"
                                        class="form-control"
                                        id="accountName"
                                        required
                                      />
                                    </div>
                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <button
                                    type="button"
                                    class="btn btn-secondary"
                                    data-bs-dismiss="modal"
                                  >
                                    Close
                                  </button>
                                  <button
                                    type="submit"
                                    id="register-btn"
                                    class="btn btn-primary m-0"
                                  >
                                    Create Account
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>

                    <div class="col-12 text-center">
                      <div
                        class="form-check d-flex justify-content-center gap-1 gap-md-2"
                      >
                        <input
                          class="form-check-input"
                          name="terms"
                          type="checkbox"
                          id="accept-terms-and-conditions"
                        />
                        <p>
                          I agree and accept the
                          <a href="/legal" class="btn-link" target="_blank"
                            >terms and conditions</a
                          >
                        </p>
                      </div>
                    </div>
                    <% } %>

                    <div class="col-12">
                      <p class="small text-center mb-0">
                        Already have an account?
                        <a href="/auth/login" class="btn btn-link px-0"
                          >Log in</a
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- End #main -->

    <%- include('partials/scripts') %>
  </body>
</html>
