<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <%- include('../layout/navbar') %> <%- include('../partials/logout') %> <%-
    include('../layout/sidebar') %>

    <main id="main" class="main">
      <%- include('../layout/breadcrumb') %>

      <section class="section dashboard">
        <div class="row" style="color: #012970">
          <div class="card">
            <div class="card-body pt-5">
              <form id="add-product-form">
                <div class="row mb-3">
                  <label for="productType" class="col-sm-2 col-form-label"
                    >Product Type</label
                  >
                  <div class="col-sm-10">
                    <select class="form-select" id="productType">
                      <option value="" selected disabled>
                        Select Product Type
                      </option>
                      <option value="digital">Digital Product</option>
                      <option value="physical">Physical Product</option>
                    </select>
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="productName" class="col-sm-2 col-form-label"
                    >Product Name</label
                  >
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="productName" />
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="productPrice" class="col-sm-2 col-form-label"
                    >Product Price</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="number"
                      class="form-control"
                      name="price"
                      id="productPrice"
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <label
                    for="productSellingPrice"
                    class="col-sm-2 col-form-label"
                    >Product Selling Price</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="number"
                      class="form-control"
                      name="sellingPrice"
                      id="productSellingPrice"
                    />
                  </div>
                </div>

                <div id="digitalProductFields" style="display: none">
                  <fieldset class="row mb-3">
                    <legend class="col-form-label col-sm-2 pt-0">
                      Add Category
                    </legend>
                    <div class="col-sm-10">
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="category"
                          id="categoryEbooks"
                          value="Ebooks"
                        />
                        <label class="form-check-label" for="categoryEbooks"
                          >Ebooks</label
                        >
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="category"
                          id="categoryCourses"
                          value="Courses"
                        />
                        <label class="form-check-label" for="categoryCourses"
                          >Courses</label
                        >
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="category"
                          id="categoryPodcast"
                          value="Podcast"
                        />
                        <label class="form-check-label" for="categoryPodcast"
                          >Podcast</label
                        >
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="category"
                          id="categorySoftware"
                          value="Software"
                        />
                        <label class="form-check-label" for="categorySoftware"
                          >Software</label
                        >
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="category"
                          id="categoryAudioBooks"
                          value="Audio books"
                        />
                        <label class="form-check-label" for="categoryAudioBooks"
                          >Audio books</label
                        >
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="category"
                          id="categoryVideo"
                          value="Video"
                        />
                        <label class="form-check-label" for="categoryVideo"
                          >Video</label
                        >
                      </div>
                    </div>
                  </fieldset>
                  <div class="row mb-3">
                    <label
                      for="digitalProductDescription"
                      class="col-sm-2 col-form-label"
                      >Product Description</label
                    >
                    <div class="col-sm-10">
                      <textarea
                        class="form-control"
                        id="digitalProductDescription"
                        style="height: 100px"
                        name="description"
                      ></textarea>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label
                      for="uploadDigitalPictures"
                      class="col-sm-2 col-form-label"
                      >Upload Pictures</label
                    >
                    <div class="col-sm-10">
                      <input
                        class="form-control"
                        type="file"
                        id="uploadDigitalPictures"
                        multiple
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label
                      for="uploadProductFile"
                      class="col-sm-2 col-form-label"
                      >Upload Product File</label
                    >
                    <div class="col-sm-10">
                      <input
                        class="form-control"
                        type="file"
                        id="uploadProductFile"
                      />
                    </div>
                  </div>
                </div>

                <div id="physicalProductFields" style="display: none">
                  <div class="row mb-3">
                    <label
                      for="physicalProductDescription"
                      class="col-sm-2 col-form-label"
                      >Product Description</label
                    >
                    <div class="col-sm-10">
                      <textarea
                        class="form-control"
                        id="physicalProductDescription"
                        style="height: 100px"
                      ></textarea>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label
                      for="uploadPhysicalPictures"
                      class="col-sm-2 col-form-label"
                      >Upload Pictures</label
                    >
                    <div class="col-sm-10">
                      <input
                        class="form-control"
                        type="file"
                        id="uploadPhysicalPictures"
                        multiple
                      />
                    </div>
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-primary">
                      Add Product
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- End #main -->

    <%- include('../layout/footer') %> <%- include('../partials/scripts') %>
  </body>
</html>
