<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <%- include('../layout/navbar') %> <%- include('../partials/logout') %> <%-
    include('../layout/sidebar') %>

    <main id="main" class="main">
      <%- include('../layout/breadcrumb') %>

      <section class="section dashboard">
        <div class="row" style="color: #012970">
          <div class="card">
            <div class="card-body pt-5">
              <form id="add-product-form">
                <div class="row mb-3">
                  <label for="productName" class="col-sm-2 col-form-label"
                    >Product Name</label
                  >
                  <div class="col-sm-10 form-group">
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      id="productName"
                      required
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="productPrice" class="col-sm-2 col-form-label"
                    >Product Price ($)</label
                  >
                  <div class="col-sm-10 form-group">
                    <input
                      type="number"
                      class="form-control"
                      name="price"
                      id="productPrice"
                      required
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <label
                    for="productSellingPrice"
                    class="col-sm-2 col-form-label"
                    >Product Selling Price ($)</label
                  >
                  <div class="col-sm-10 form-group">
                    <input
                      type="number"
                      class="form-control"
                      name="sellingPrice"
                      id="productSellingPrice"
                      required
                    />
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="uploadPictures" class="col-sm-2 col-form-label"
                    >Upload Pictures</label
                  >
                  <div class="col-sm-10 form-group">
                    <input
                      class="form-control"
                      type="file"
                      id="uploadPictures"
                      accept="image/*"
                      required
                    />
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="productType" class="col-sm-2 col-form-label"
                    >Product Type</label
                  >
                  <div class="col-sm-10 form-group">
                    <select
                      class="form-select"
                      name="productType"
                      id="productType"
                      required
                    >
                      <option value="" selected disabled>
                        Select Product Type
                      </option>
                      <option value="digital">Digital Product</option>
                      <option value="physical">Physical Product</option>
                    </select>
                  </div>
                </div>

                <div id="digitalProductFields" style="display: none">
                  <div class="row mb-3">
                    <label for="category" class="col-form-label col-sm-2 pt-0"
                      >Add Category</label
                    >
                    <div class="col-sm-10">
                      <select class="form-select" id="category" name="category">
                        <option value="" selected disabled>----</option>
                        <option value="Ebooks">Ebooks</option>
                        <option value="Courses">Courses</option>
                        <option value="Podcast">Podcast</option>
                        <option value="Software">Software</option>
                        <option value="Audio books">Audio books</option>
                        <option value="Video">Video</option>
                        <option value="Others">Others</option>
                      </select>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label
                      for="uploadProductFile"
                      class="col-sm-2 col-form-label"
                      >Upload Product File</label
                    >
                    <div class="col-sm-10 form-group">
                      <input
                        class="form-control"
                        type="file"
                        id="uploadProductFile"
                        accept="application/pdf"
                      />
                    </div>
                  </div>
                </div>

                <div id="physicalProductFields" style="display: none"></div>

                <div class="row mb-3">
                  <label
                    for="productDescription"
                    class="col-sm-2 col-form-label"
                    >Product Description</label
                  >
                  <div class="col-sm-10 form-group">
                    <textarea
                      class="form-control"
                      id="productDescription"
                      style="height: 100px"
                      name="description"
                      required
                    ></textarea>
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-primary">
                      Add Product
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- End #main -->

    <%- include('../layout/footer') %> <%- include('../partials/scripts') %>
  </body>
</html>
