<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <%- include('../layout/navbar') %> <%- include('../partials/logout') %> <%-
    include('../layout/sidebar') %>

    <main id="main" class="main">
      <%- include('../layout/breadcrumb') %>

      <section class="section dashboard">
        <div class="row" style="color: #012970">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <div class="d-flex align-items-center gap-3">
                  <h5 class="p-0 m-0">Status:</h5>
                  <div class="dropdown">
                    <button
                      class="btn btn-secondary dropdown-toggle text-capitalize"
                      type="button"
                      id="dropdownMenuButton"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <%= data.st.toLowerCase() %>
                    </button>
                    <ul
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenuButton"
                    >
                      <li>
                        <a
                          class="dropdown-item <%= data.st === 'all' ? 'active disabled' : '' %>"
                          href="?st=all"
                          >All</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item <%= data.st === 'DELIVERED' ? 'active disabled' : '' %>"
                          href="?st=DELIVERED"
                          >Delivered</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item <%= data.st === 'UNDELIVERED' ? 'active disabled' : '' %>"
                          href="?st=UNDELIVERED"
                          >Undelivered</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card-body pt-4">
                <form action="" method="GET">
                  <div class="input-group mb-3">
                    <input
                      type="text"
                      name="q"
                      class="form-control"
                      placeholder="Search username, fullname, or email"
                      aria-label="Search"
                      value="<%= data.q %>"
                    />
                    <button class="btn btn-outline-secondary" type="submit">
                      <i class="bx bx-search-alt-2"></i>
                    </button>
                  </div>
                </form>
                <div class="table-responsive">
                  <table
                    class="table orders-table table-striped table-hover table-bordered text-truncate"
                    style="width: 100%"
                  >
                    <thead class="table-dark">
                      <tr>
                        <th>Item requested</th>
                        <th>Seller name</th>
                        <th>Delivery status</th>
                        <th>Purchase amount</th>
                        <th>Buyer's name</th>
                        <th>Phone number</th>
                        <th>Email</th>
                        <th>Product type</th>
                        <th>Country</th>
                        <th>City</th>
                        <th>Address</th>
                        <th>Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for( let i = 0; i < data.orders.length; i++ ) { %>
                      <tr>
                        <td><%= data.orders[i].Item.name %></td>
                        <td>
                          <%= data.orders[i].sellerId ?
                          data.orders[i].Seller.name : "None" %>
                        </td>
                        <td><%= data.orders[i].status %></td>
                        <td>$<%= data.orders[i].Item.sellingPrice %></td>
                        <td><%= data.orders[i].fullName %></td>
                        <td><%= data.orders[i].phone %></td>
                        <td><%= data.orders[i].email %></td>
                        <td><%= data.orders[i].Item.productType %></td>
                        <td><%= data.orders[i].country %></td>
                        <td><%= data.orders[i].city %></td>
                        <td><%= data.orders[i].address %></td>

                        <td>
                          <%= (data.orders[i].createdAt).toLocaleDateString()%>
                        </td>
                      </tr>

                      <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
              <%- include('../partials/pagination', {urlPrefix: data.q ?
              `?st=${data.st}&q=${data.q}` : `?st=${data.st}`, data}) %>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- End #main -->

    <%- include('../layout/footer') %> <%- include('../partials/scripts') %>
  </body>
</html>
